@import './variables.scss';

body {
  background-color: $backgroundColor;
  color: #fff;
  font-size: 16px;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 4rem;
  color: orange;
}

button {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  color: black;
  padding: .5rem .75rem;
  border-radius: 10px;
}