$backgroundColor: #2a2131;

// CTA Font
$buttonFontColor: #fff;
$submitFontColorHover: rgb(242, 217, 170);

// CTA button colors
$clearNoteBackground: rgb(177, 30, 30);
$clearNoteBackgroundHover: darkred;
$submitBackground: #018749;
$submitBackgroundHover: #044b2a;