@import '../../styles/variables.scss';

.noteFormContainer {
    padding: 2.5rem 3rem;
    border-radius: 10px;

    textarea {
        font-size: 1.2rem;
        resize: none;
        width: 100%;
        height: 5rem;
        margin: 0 0 1.5rem 0;
    }

    button {
        background-color: $submitBackground;
        font-weight: bold;
        border: none;
        color: $buttonFontColor;
        margin: 0 .85rem;

        &:first-child {
            color: $buttonFontColor;
            background-color: $clearNoteBackground;

            &:hover {
                color: $buttonFontColor;
                background-color: $clearNoteBackgroundHover;
            }
        }

        &:hover {
            color: $submitFontColorHover;
            background-color: $submitBackgroundHover;
        }
    }
}

.noteFormContainerControllers {
    display: flex;
    justify-content: flex-end;
}